body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
}

.space {
    height: 100vh;
    width: 80%;
    position: relative;
    background-image: url('public/space.png');
}

.planet-area {
    height: 800px;
    width: 600px;
    position: absolute;
    bottom: 0;

}

.planet {
    height: 600px;
    width: 600px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.rocket {
    height: 300px;
    width: 300px;
    position: absolute;
    transform: rotate(25deg);
    bottom: 270px;
    left: 300px;
    z-index: 0;
}

.control-panel {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 500px;
    /*bottom: 100px;*/
    right: 100px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.control-panel__inner {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: #282828;
}


#password {
    border:3px dashed #db2b39;
    border-radius: 10px;
    color: #db2b39;
    background-color: #f8d01c;
}

#confirm-password {
    border-radius: 5px;
    background-color: #f8d01c;
}

.check-buttons,
.levers {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.range {
    height: 130px;
    width: 20px;
    -webkit-appearance: slider-vertical;
    background-color: darkgreen;
}

.range,
.check {

}

#launch {
    height: 50px;
    width: 70px;
    color: #f5f5f5;
    background-color: #db2b39;
    border-radius: 50%;
}
