body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
}

.space {
    height: 100vh;
    width: 80%;
    position: relative;
    /*background-color: midnightblue;*/
    background-image: url('public/space.png');
}

.planet-area {
    height: 800px;
    width: 600px;
    position: absolute;
    bottom: 0;
    /*background-color: #66cc66;*/

}

.planet {
    height: 600px;
    width: 600px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    /*background-color: lightsalmon;*/
}

.rocket {
    height: 300px;
    width: 300px;
    position: absolute;
    transform: rotate(25deg);
    bottom: 270px;
    left: 300px;
    z-index: 0;
    /*background-color: red;*/
}

.control-panel {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 500px;
    right: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: #282828;
}

.levers {
    display: flex;
    /*flex: 1 1 auto;*/
}

label {
    /*background-color: darkkhaki;*/
}

.check-buttons,
.levers {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.range {
    /*transform: rotate(90deg);*/
    height: 130px;
    width: 20px;
    -webkit-appearance: slider-vertical;
    background-color: darkgreen;
}